#paginacao {
  background: var(--cor-branco);
  border-radius: 0 0 8px 8px;
  /* background-color: #dadada; */
  box-shadow: 15px 20px 15px rgba(138, 149, 158, 0.5);
}

#paginacao .btn-paginacao {
  margin: 7px 2px;
  padding: 2px 3px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transition: filter 200ms;
  background: var(--blue);
  border: none;
  outline: none;
  color: #fff;
}

#paginacao .btn-paginacao:hover {
  filter: brightness(0.9);
}

#paginacao .btn-paginacao:first-child {
  margin-left: 10px;
}
