.container-box-info {
  width: 100%;
  height: 100%;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-box-info .container-box {
  width: 40rem;
  background-color: var(--white);
  border-radius: 8px;
}

.container-box-info .container-box .loading {
  padding: 30px;
  text-align: center;
  font-size: 14px;
  color: #dadada;
}

.container-box-info .container-box .indicadores {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #fff;
}

.container-box-info .container-box .indicadores #indicEntradatrue {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  padding: 10px;
  border-radius: 8px 0px 0px 0px;
  width: 40rem;
  font-size: 20px;
}

.container-box-info .container-box .indicadores #indicEntradafalse {
  background-color: var(--background);
  color: var(--blue);
  padding: 10px;
  width: 40rem;
  font-size: 20px;
}

.container-box-info .container-box .indicadores #indicSaidatrue {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  padding: 10px;
  border-radius: 8px 0px 0px 0px;
  width: 40rem;
  font-size: 20px;
}

.container-box-info .container-box .indicadores #indicSaidafalse {
  background-color: var(--background);
  color: var(--blue);
  padding: 10px;
  width: 40rem;
  font-size: 20px;
}

@media (max-width: 680px) {
  .container-box-info .container-box {
    width: 30rem;
  }
}

@media (max-width: 430px) {
  .container-box-info .container-box {
    width: 20rem !important;
  }
}

@media (max-width: 530px) {
  .container-box-info .container-box {
    width: 25rem;
  }
}
