.header-pagehome {
  display: flex;
  justify-content: space-between;

  background-color: var(--blue);
  width: 100%;
  max-width: 200rem;
  height: 6.5rem;
}

.header-pagehome .header-left-pagehome {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.5rem;
}

.header-pagehome .header-right-pagehome {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.header-pagehome .header-right-pagehome h3 {
  color: var(--white);
  margin-right: 1.5rem;
}

.header-pagehome h1 {
  color: var(--white);
}

#logo {
  height: 3rem;
  width: 3.5rem;
  margin: 0 1.5rem 0 1.5rem;
}

/*  .header-pagehome .header-right-pagehome {
} */

@media (max-width: 320px) {
  .header-pagehome {
    max-width: 70rem;
    height: 6.5rem;
  }
}

@media (max-width: 654px) {
  .header-pagehome {
    max-width: 70rem;
    height: 6.5rem;
  }
}
